<p>NEW PAGE</p>
<div id="dogdiv"><img id="dog" src="http://www.image-maps.com/m/private/14808/12483-who-is-awesome.jpg" border="0" width="554" height="426" orgWidth="554" orgHeight="426" usemap="#image-maps-2014-04-12-125547" alt="" />
<map name="image-maps-2014-04-12-125547" id="ImageMapsCom-image-maps-2014-04-12-125547">
<area id="google" alt="" title="" href="http://www.google.ca" shape="rect" coords="438,102,488,152" style="outline:none;" target="_self"     />
<area id="facebook" alt="" title="" href="facebook.com" shape="rect" coords="381,166,431,216" style="outline:none;" target="_self"     />
<area shape="rect" coords="552,424,554,426" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_14808" />
</map>
</div>